body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

@media (min-width: 901px) {
    body {
        max-width: 60%;
        margin: 0 auto;
    }
}

h1 {
    font-family: 'Clicker Script', serif;
    font-size: 4rem;
    margin-top: 5rem;
}

html {
    background-color: hsla(148, 53%, 61%, .5);
    color: maroon;
}

img {
    min-width: 100%;
    margin: 0;
    padding: 0;
}

input {
    padding: .5rem;
    font-weight: bold;
}

label {
    font-size: large;
}